{% load static %}
<nav class="bg-gray-800/50">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-14 items-center justify-between">
            <div class="flex items-center">
                <div class="shrink-0">
                    <a href={% url 'dashboard' %}>
                        <img src="{% static 'logo_image.png' %}" alt="Fitness Tracker Logo" class="h-7 w-auto" />
                    </a>
                </div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="{% url 'dashboard' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Home</a>
                        <a href="{% url 'workouts:workout_list' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Workouts</a>
                        <a href="{% url 'exercises:exercise_list' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Exercises</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
